/dsas-liquibase/target/
/dsas-ui/nb-configuration.xml
/dsas-ui/catalina.base_IS_UNDEFINED/
/dsas-liquibase/target/
/dsas-web-ui/nb-configuration.xml
/dsas-liquibase/build/
/dsas-web-ui/catalina.base_IS_UNDEFINED/
/dsas-uncy-reader/target/
/dsas-geoserver/target/
/dsas-wps/target/
/dsas-commons/target/
/dsas-n52/target/
/dsas-web-ui/test-classes/
/target/
/dsas-web-ui/src/main/webapp/css/**
