#ccsa-area {
	padding-top: 5px;
}

.btn {
    margin-top: .25em;
    margin-bottom: .25em;
}

.feature-list {
    width: 100%;
}

.hide {
    height: auto !important;
}

.lazy {
	display: none;
}

#application-spinner {
    text-align: center;
    display: none;
}

#alt-location-list {
    width : 100%;
}

#header #banner-area {
    background-image: url("../images/banner/banner.png");
}
/* Update bootstrap's buttons to have a bit of space on top */
#site-title {
    line-height: 20px;
}
/* Left Nav Bar Image Sizing */
.nav-stacked li.active a img {
    height: 3.5em;
    width: 4.5em;
}
.nav-stacked li a img {
    height: 2.5em;
    width: 3.5em;
}
.nav-pills.nav-stacked > li > a {
    text-align: center;
}
/* Because of a conflict between twitter bootstrap and openlayers */
img { 
    max-width: none; 
}
/* Color differentiation for published and personal layers in select views */
select option.published-layer{
    color : #661111; 
}
select option.session-layer{
    color : #116611; 
}

.backgroundPaneImage{
    height: 252px;
}
.collapsibleHelp .ui-widget-content {
    background: transparent;
}
.collapsibleHelp .ui-state-active{
    background: transparent;
}

.popover {
    max-width: 100%;
}

#stage-select-tablist .stage-icon-description {
    font-size: 1.1em;
}
#stage-select-tablist .stage-icon-description p {
    margin-bottom: 0.3em;
}
#stage-select-tablist #shorelines-description {
	background-image:url('../images/paneBackgrounds/shorelines_tutorial.png');
}
#stage-select-tablist #baseline-description {
	background-image:url('../images/paneBackgrounds/baselines_tutorial.png');
}
#stage-select-tablist #transects-description {
	background-image:url('../images/paneBackgrounds/transects_tutorial.png');
}
#stage-select-tablist #bias-description {
	background-image:url('../images/paneBackgrounds/bias_tutorial.png');
}
#stage-select-tablist #calculation-description {
	background-image:url('../images/paneBackgrounds/transects_tutorial.png');
}
#stage-select-tablist #results-description {
	background-image:url('../images/paneBackgrounds/results_tutorial.png');
}

#sign-in-img {
	height: 2.75em;
}


/* ---------------------------------------------------------------------- Map */
/* Add a drop shadow effect to scale and mouse position so they can be seen against a dark background */
.olControlScaleLine {
    text-shadow: #FFFFFF 0px 0px 2px;
    color: #000000;
}
.olControlMousePosition {
    text-shadow: #FFFFFF 0px 0px 2px;
    color: #000000;
}

#map {
	min-height: 32em;
    height: 100%;
    width: 100%;
}

#map-well {
    height: 100%;
}

#toolbox-well {
	height: 100%;
}

.baseLayersDiv > .labelSpan {
	display : inline;
}
.dataLayersDiv > .labelSpan {
	display : inline;
}

/* ---------------------------------------------------------------------- Shorelines */
#shorelines-feature-table-container {
    height: 16.25em;
    overflow : scroll;
}
.shoreline-table-selected-head-column {
    width: 30%;
}

.wildcard-link {
    cursor: pointer;
    color: #0055CC;
    margin-left: 5px;
    font-size: 2em;
    float: right;
}

#wildcard-select-list {
    width: 100%;
}

.selected-feature-row td:nth-child(2) {
	background-color: #DDDDDD !important;
}

.shoreline-table ::selection {
	background-color:Transparent;
    color:#000;
}

.shoreline-table ::-moz-selection {
	background-color:Transparent;
    color:#000;
}

.selected-feature-row td:nth-child(2) :hover{
	background-color: #DDDDDD !important;
}

/* ---------------------------------------------------------------------- Baselines */
#toggle-direction-checkbox {
    width: 210px;
}
#baseline-tab-content {
    overflow : visible;
}
#baseline-name-textbox {
	text-align: right;
}
/* ---------------------------------------------------------------------- Transects */
#transects-well {
    height: 5em;
}
#create-transects-input-spacing {
    width: 6em;
}
#create-transects-input-smoothing {
    width: 6em;
}

/* ---------------------------------------------------------------------- Results */
.dygraph-xlabel {
	line-height : 18px;
	font-size: 14px;
}

.dygraph-ylabel {
	line-height : 18px;
	font-size: 14px;
}

#results-table-container {
    height: 16.25em;
}

#plot-menu-icon {
	color: #999999;
	border-radius: 4px;
	padding: 2px;
	border : 1px solid #E5E5E5;
}
#plot-menu-icon:hover {
	background-color: #E5E5E5;
	cursor: pointer;
}

/* ---------------------------------------------------------------------- Fine Uploader */
.qq-upload-list {
    text-align: left;
    display: none;
}
.uploader {
    display: none;
}

/* ---------------------------------------------------------------------- Alert system */
li.alert-success {
    background-color: #DFF0D8;
}

li.alert-error {
    background-color: #F2DEDE;
}

.alert-error .qq-upload-failed-text {
    display: inline;
}

/* ---------------------------------------------------------------------- Drag-Drop */
.left-drop-holder {
    text-align: center;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px dashed #800000; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-drop-holder {
    text-align: center;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px dashed #00CCFF; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-drop-holder-optional {
    text-align: center;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border: 1px dashed #00ff00; 
    margin-top: 5px;
    margin-bottom: 5px;
}
