<div class="container-fluid">
	<div id="explanation-row" class="row-fluid">
		<div id="explanation-well" class="well">
			DSASweb requires two fields ({{#each mandatoryColumns}} {{this}} {{/each}}) and allows you to 
			choose two optional fields.  Below, drag the field from your data 
			on the left to the appropriate opening on the right.  To remove or 
			change the field simply drag from right to left.
		</div>
	</div>
	<div id="{{layerName}}-drag-drop-row" class="row-fluid">
		{{!-- Left-side FROM column --}}
		<div id="{{layerName}}-drag-container" class="well span5">
			<h5>Uploaded Data</h5>
			<ul id="{{layerName}}-drag-list" class="ui-helper-reset">
				{{#each columnKeys}}
				<li>
					<div class="{{../layerName}}-drop-holder left-drop-holder">
						<div id="{{this}}-drag-item" class="{{../layerName}}-drag-item ui-state-default ui-corner-all">
							{{this}}<span style="float:left;" class="ui-icon ui-icon-link">&nbsp;</span>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>

		{{!-- Right-side TO column --}}
		<div id="{{layerName}}-drop-container" class="well span5 offset2">
			<h5>DSASweb</h5>
			<ul id="{{layerName}}-drop-list" class="ui-helper-reset">
				{{!-- Mandatory Columns --}}
				{{#each mandatoryColumns}}
				<li>
					<div id="{{this}}-drop-item" class="{{../layerName}}-drop-holder right-drop-holder">
						{{this}}
					</div>
				</li>
				{{/each}}

				{{!-- Optional Columns --}}
				{{#if defaultColumns}}
				{{#each defaultColumns}}
				<li>
					<div id="{{this.attr}}-drop-item" class="{{../layerName}}-drop-holder right-drop-holder-optional">
						{{this.attr}}
					</div>
				</li>
				{{/each}}
				{{/if }}
			</ul>
		</div>
	</div>
</div>