<tr data-shoreline-id="{{id}}" data-shoreline-workspace="{{workspace}}">
	<td>
		<div class="switch feature-toggle" data-date="{{date}}">
			<input type="checkbox" {{isChecked}} />
		</div>
	</td>
	<td class="table-feature-date-cell">{{date}}</td>
	<td class="table-feature-source-cell">{{source}}</td>
	<td style="background-color:{{color}};">&nbsp</td>
</tr>