<div id="application-container" class="container">
	<div class="row">
		<div class="col-sm-2 col-lg-2"></div>
		<div class="col-sm-8 col-lg-8 login-section">
			<form id="loginForm" name="f">
				<div class="loginFields">
					<input type="hidden" name="redirectedFrom" value="{{redirectedFrom}}" />
					<div style="float: right; vertical-align: middle; width: 85%;">
						<table cellspacing="6">
							<tbody>
								<tr>
									<td>Username:</td>
									<td><input type="text" tabindex="1" name="username" id="username" autofocus=""></td>
								</tr>
								<tr>
									<td>Password:</td>
									<td><input type="password" tabindex="2" name="password" id="password"></td>
								</tr>
								<tr>
									<td></td>
									<td style="text-align: right;">
										<input id="button-submit" name="submit" tabindex="3" type="button" value="Login">
									</td>
								</tr>
							</tbody></table>
					</div>
				</div>
			</form>

		</div>
		<div class="col-sm-2 col-lg-2"></div>
	</div>
</div>