<ul class="nav nav-pills nav-stacked" id="tabs-navigation">
	<li role="presentation">
		<a data-toggle="tab" role="tab" data-target="shorelines">Shorelines</a>
	</li>
    <li role="presentation">
		<a data-toggle="tab" role="tab" data-target="baseline">Baseline</a>
	</li>
	<li role="presentation">
		<a data-toggle="tab" role="tab" data-target="transects">Transects</a>
	</li>
	<li role="presentation">
		<a data-toggle="tab" role="tab" data-target="calculation">Calculation</a>
	</li>
	<li role="presentation">
		<a data-toggle="tab" role="tab" data-target="results">Results</a>
	</li>
</ul>