<table id="shoreline-table" data-toggle="table" class="tablesorter table table-hover">
	<thead>
		<tr>
			<th class="shorelines-table-column-vis">Visibility</th>
			<th>Date</th>
			<th>Source</th>
			<th class="shorelines-table-column-color">Color</th>
		</tr>
	</thead>
	
	 <tbody>
		{{#each models}}
		<tr id="shoreline-table-row-{{@index}}">
			<td>
				<input type="checkbox" checked="checked" data-toggle="toggle" data-size="mini" data-onstyle="primary" data-offstyle="danger">
			</td>
			<td>
				{{attributes.date}}
			</td>
			<td>
				{{attributes.source}}
			</td>
			<td data-color="{{attributes.color}}">
				&nbsp;
			</td>
		</tr>
		{{/each}}
	</tbody>
	
</table>