<div class="text-center well">
	<button class="btn btn-success" id="button-shorelines-file-select">
		<i class="fa fa-folder-open-o icon-white"></i> Select Shorelines For Upload
	</button>
	<div class="well hidden" id="container-shorelines-file-info">
		<p>
			File Name: <span id="container-shorelines-file-info-filename"></span> <br />
			File Size: <span id="container-shorelines-file-info-filesize"></span> bytes
		</p>
		<button class="btn btn-success" id="button-shorelines-upload">
			<i class="fa fa-cloud-upload icon-white"></i> Upload Shoreline
		</button>
	</div>
	<input type="file" id="input-shorelines-file" style="display:none"/>
</div>