<div class="well well-sm" id="well-shorelines">
	<div class="container-fluid" id="container-shorelines">
		<ul class="nav nav-tabs nav-justified" id="tabs-shorelines">
			<li role="presentation" {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-view" "class='active'"}}{{/ifIsActiveTab}}>
				<a data-toggle="tab" role="tab" data-target="tabpanel-shorelines-view">
					View
				</a>
			</li>
			<li role="presentation" {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-manager" "class='active'"}}{{/ifIsActiveTab}}>
				<a data-toggle="tab" role="tab" data-target="tabpanel-shorelines-manager">
					Manage
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-view" "active"}}{{/ifIsActiveTab}}" id="tabpanel-shorelines-view">
				<div class="text-center well">
					<button id="button-shorelines-aoi-toggle" data-toggle="button" class="btn btn-success" aria-pressed="false" autocomplete="off" type="button">
						<i class="fa fa-map-marker icon-white"></i> Select Area Of Interest
					</button>
					<div id="description-aoi" class="hidden">
						<h3>Selecting An Area Of Interest</h3>
						<p>
							AOI Selection Instructions
						</p>
						<p>
							<button class="btn btn-success" id="button-shorelines-aoi-done">
								<i class="fa fa-check icon-white"></i> I'm Done
							</button>
						</p>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-manager" "active"}}{{/ifIsActiveTab}}" id="tabpanel-shorelines-manage">
				<div class="text-center well">
					<button class="btn btn-success" id="button-shorelines-file-select">
						<i class="fa fa-folder-open-o icon-white"></i> Select Shorelines For Upload
					</button>
					<div class="well hidden" id="container-shorelines-file-info">
						<p>
						File Name: <span id="container-shorelines-file-info-filename"></span> <br />
						File Size: <span id="container-shorelines-file-info-filesize"></span> bytes
						</p>
						<button class="btn btn-success" id="button-shorelines-upload">
							<i class="fa fa-cloud-upload icon-white"></i> Upload Shoreline
						</button>
					</div>
					<input type="file" id="input-shorelines-file" style="display:none"/>
				</div>
			</div>
		</div>
	</div>
</div>