<div class="well well-sm" id="well-shorelines">
	<div class="container-fluid" id="container-shorelines">
		<ul class="nav nav-tabs nav-justified" id="tabs-shorelines">
			<li role="presentation" {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-view" "class='active'"}}{{/ifIsActiveTab}}>
				<a data-toggle="tab" role="tab" data-target="tabpanel-shorelines-view">
					View
				</a>
			</li>
			<li role="presentation" {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-manager" "class='active'"}}{{/ifIsActiveTab}}>
				<a data-toggle="tab" role="tab" data-target="tabpanel-shorelines-manager">
					Manage
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-view" "active"}}{{/ifIsActiveTab}}" id="tabpanel-shorelines-view">
				{{!-- Filled by ShorelineViewerView --}}
			</div>
			<div role="tabpanel" class="tab-pane {{#ifIsActiveTab this.activeTab "tabpanel-shorelines-manager" "active"}}{{/ifIsActiveTab}}" id="tabpanel-shorelines-manager">
				{{!-- Filled by ShorelineManagementView --}}
			</div>
		</div>
	</div>
</div>