<div class="text-center well">
	<button id="button-shorelines-aoi-toggle" data-toggle="button" class="btn btn-success" aria-pressed="false" autocomplete="off" type="button">
		<i class="fa fa-map-marker icon-white"></i> Select Area Of Interest
	</button>
	<div id="shoreline-table" class="hidden"></div>
	<div id="description-aoi" class="hidden">
		<h3>Selecting An Area Of Interest</h3>
		<p>
			AOI Selection Instructions
		</p>
		<p>
			<button class="btn btn-success" id="button-shorelines-aoi-done">
				<i class="fa fa-check icon-white"></i> I'm Done
			</button>
		</p>
	</div>
</div>